* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

img {
    width: 80%;
    object-fit: contain;
    margin: auto;
}

.item, .result {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    width: 16.6%;
    transition: transform 0.5s ease-in-out;
    
}

.result img {
    height: 100%;
}

.item img {
    height: 80%;
}

.item:hover {
    transform: scale(1.1);
}